[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/tern_for_vim"]
	path = .vim/bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim
[submodule ".vim/bundle/vim-diff-enhanced"]
	path = .vim/bundle/vim-diff-enhanced
	url = https://github.com/chrisbra/vim-diff-enhanced
[submodule ".vim/bundle/vim-maximizer"]
	path = .vim/bundle/vim-maximizer
	url = https://github.com/szw/vim-maximizer
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule ".vim/bundle/linediff.vim"]
	path = .vim/bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule ".vim/bundle/LargeFile"]
	path = .vim/bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile
[submodule ".vim/bundle/vim-mark"]
	path = .vim/bundle/vim-mark
	url = https://github.com/Yggdroot/vim-mark
[submodule ".vim/bundle/vim-super-retab"]
	path = .vim/bundle/vim-super-retab
	url = https://github.com/rhlobo/vim-super-retab
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim-indexed-search"]
	path = .vim/bundle/vim-indexed-search
	url = https://github.com/henrik/vim-indexed-search
[submodule ".vim/bundle/MatchTagAlways"]
	path = .vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule ".vim/bundle/vim-closetag"]
	path = .vim/bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule ".vim/bundle/jsdoc-syntax.vim"]
	path = .vim/bundle/jsdoc-syntax.vim
	url = https://github.com/othree/jsdoc-syntax.vim
[submodule ".vim/bundle/html5.vim"]
	path = .vim/bundle/html5.vim
	url = https://github.com/othree/html5.vim
[submodule ".vim/bundle/vim-css3-syntax"]
	path = .vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule ".vim/bundle/vim-jsdoc"]
	path = .vim/bundle/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/vim-instant-markdown"]
	path = .vim/bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/bundle/splitjoin.vim"]
	path = .vim/bundle/splitjoin.vim
	url = https://github.com/andrewradev/splitjoin.vim
[submodule ".vim/bundle/vim-visual-star-search"]
	path = .vim/bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search
[submodule ".vim/bundle/clever-f.vim"]
	path = .vim/bundle/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim
[submodule ".vim/bundle/matchit.zip"]
	path = .vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip
[submodule ".vim/bundle/vim-bracketed-paste"]
	path = .vim/bundle/vim-bracketed-paste
	url = https://github.com/conradirwin/vim-bracketed-paste
[submodule ".vim/bundle/vim-pasta"]
	path = .vim/bundle/vim-pasta
	url = https://github.com/sickill/vim-pasta
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-indent-object"]
	path = .vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule ".vim/bundle/vim-signature"]
	path = .vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule ".vim/bundle/yaifa"]
	path = .vim/bundle/yaifa
	url = https://github.com/raimondi/yaifa
[submodule ".vim/bundle/vim-es6"]
	path = .vim/bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6
[submodule ".vim/bundle/vim-narrow"]
	path = .vim/bundle/vim-narrow
	url = https://github.com/jkramer/vim-narrow
[submodule ".vim/bundle/rename.vim"]
	path = .vim/bundle/rename.vim
	url = https://github.com/danro/rename.vim
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule ".vim/bundle/javascript-libraries-syntax.vim"]
	path = .vim/bundle/javascript-libraries-syntax.vim
	url = https://github.com/othree/javascript-libraries-syntax.vim
[submodule ".vim/bundle/limelight.vim"]
	path = .vim/bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule ".vim/bundle/vim-nodejs-complete"]
	path = .vim/bundle/vim-nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete
[submodule ".vim/bundle/vim-sneak"]
	path = .vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/bundle/diffchar.vim"]
	path = .vim/bundle/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/vim-better-whitespace"]
	path = .vim/bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule ".vim/bundle/vim-tmux-focus-events"]
	path = .vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule ".vim/bundle/SyntaxComplete"]
	path = .vim/bundle/SyntaxComplete
	url = https://github.com/vim-scripts/SyntaxComplete
[submodule ".vim/bundle/yajs.vim"]
	path = .vim/bundle/yajs.vim
	url = https://github.com/othree/yajs.vim
[submodule ".vim/bundle/argtextobj.vim"]
	path = .vim/bundle/argtextobj.vim
	url = https://github.com/vim-scripts/argtextobj.vim
[submodule ".vim/bundle/vim-textobj-variable-segment"]
	path = .vim/bundle/vim-textobj-variable-segment
	url = https://github.com/Julian/vim-textobj-variable-segment
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule ".vim/bundle/tmux-complete.vim"]
	path = .vim/bundle/tmux-complete.vim
	url = https://github.com/wellle/tmux-complete.vim
[submodule ".vim/bundle/vim-smartword"]
	path = .vim/bundle/vim-smartword
	url = https://github.com/kana/vim-smartword
[submodule ".vim/bundle/vim-textobj-comment"]
	path = .vim/bundle/vim-textobj-comment
	url = https://github.com/glts/vim-textobj-comment
[submodule ".vim/bundle/TextObjectify"]
	path = .vim/bundle/TextObjectify
	url = https://github.com/paradigm/TextObjectify
[submodule ".vim/bundle/vim-textobj-anyblock"]
	path = .vim/bundle/vim-textobj-anyblock
	url = https://github.com/rhysd/vim-textobj-anyblock
[submodule ".vim/bundle/restore_view.vim"]
	path = .vim/bundle/restore_view.vim
	url = https://github.com/vim-scripts/restore_view.vim
[submodule ".vim/bundle/vim-troll-stopper"]
	path = .vim/bundle/vim-troll-stopper
	url = https://github.com/vim-utils/vim-troll-stopper
